body {
  background-color: cyan;
}

h1 {
  color: red;
  background-color: blue;
  font-size: 60px;
}
 .content P {
  color: balck;
  background-color: yellow;
}

.footer p {
  color: blue;

}

.submit-button {
  display : block;
  margin-top: 20px;
  background-color: yellow ;
  font-size: 20px;
}

.name {
  margin-top: 100px;
}

input , textarea {
  font-size: 20px;
}
